@font-face{
  font-family: "Olympic";
  src: url("olympic_carrier//olympiccarrierchromeital.ttf") format("truetype");
}

h1{
  font-family: "Olympic";
  color: darkblue;
  text-align: center;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  outline: solid 0.5px darkblue;
}

.row {
  display: flex;
}

.canvas{
  width: fit-content;
  margin: 0 auto;
}

.change-size {
  width: fit-content;
  margin: 0px auto 20px auto;
}

.change-size > button {
  background-color: whitesmoke;
  height: 30px;
  border-color: darkblue;
  color: darkblue;
}